@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
--border-radius: 15px;

--padding-0: 0px;
--padding-5: 5px;
--padding-10: 10px;
--padding-15: 15px;
--padding-20: 20px;
--padding-40: 40px;

--margin-0: 0px;
--margin-5: 5px;
--margin-10: 10px;
--margin-15: 15px;
--margin-20: 20px;
--margin-40: 40px;

--primary: #2776f5;
--primary-dim: #478af5;
--primary-active: #2776f580;
--primary-text: #ffffff;

--secondary: #767e8c;
--secondary-dim: #868f9e;
--secondary-active: #767e8c80;
--secondary-text: #ffffff;

--error: #ff243d;
--error-dim: #ff3d54;
--error-active: #ff243d80;
--error-text: #ffffff;

--warning: #ffd117;
--warning-dim: #ffd942;
--warning-active: #ffd11780;
--warning-text: #ffffff;

--success: #51f03c;
--success-dim: #6ee65e;
--success-active: #51f03c80;
--success-text: #ffffff;

--page-bg-light: #f2f2f2;
--page-text-light: #262626;
--page-bg-dark: #262626;
--page-text-dark: #f2f2f2;

--module-light-bg: #ffffff;
--module-light-border: #f1f1f1;
--module-light-text: #262626;
--module-dark-bg: #3d3d3d;
--module-dark-border: #2b2b2b;
--module-dark-text: #f2f2f2;
}
body {
    margin: 0px;
}
input:focus, textarea:focus {
    outline: 0;
}
.alfrd-input {
border: none;
padding: var(--padding-10);
margin: var(--margin-10);
border-radius: var(--border-radius);
-webkit-transition: all 200ms ease;
transition: all 200ms ease;
}
.alfrd-textarea {
border: none;
padding: var(--padding-10);
margin: var(--margin-10);
border-radius: var(--border-radius);
-webkit-transition: all 200ms ease;
transition: all 200ms ease;
}
.input-light {
background: var(--page-bg-light);
color: var(--module-dark-bg);
}
.input-light:focus {
    color: var(--module-light-text);
    border: 1px solid var(--primary);
    box-shadow: 0px 0px 0px 4px var(--primary-active);
}
.input-dark {
color: var(--module-light-bg);
background: var(--page-bg-dark);
}
.input-dark:focus {
    color: var(--module-dark-text);
    border: 1px solid var(--primary);
    box-shadow: 0px 0px 0px 4px var(--primary-active);
}
.alfrd-light {
background: var(--page-bg-light);
color: var(--page-text-light);
}
.alfrd-dark {
background: var(--page-bg-dark);
color: var(--page-text-dark);
}
.alfrd-module {
border-radius: var(--border-radius);
padding: var(--padding-10);
margin: var(--margin-10);
box-shadow: 0px 4px 7px 0px #00000021;
}
.module-light {
background: var(--module-light-bg);
border: 1px solid var(--module-light-border);
color: var(--module-light-text)
}
.module-dark {
background: var(--module-dark-bg);
border: 1px solid var(--module-dark-border);
color: var(--module-dark-text)
}
.alfrd-btn {
border: none;
border-radius: var(--border-radius);
padding: var(--padding-10);
-webkit-transition: all 200ms ease;
transition: all 200ms ease;
font-size: 15px;
margin: var(--margin-10);
}
.primary {
    background: var(--primary);
    color: var(--primary-text);
    }
    .primary:hover {
        background: var(--primary-dim);
        }
        .primary:active {
            background: var(--primary-dim);
            box-shadow: 0px 0px 0px 4px var(--primary-active);
            }
.secondary {
    background: var(--secondary);
    color: var(--secondary-text);
    }
    .secondary:hover {
        background: var(--secondary-dim);
        }
        .secondary:active {
            background: var(--secondary-dim);
            box-shadow: 0px 0px 0px 4px var(--secondary-active);
            }
.error {
    background: var(--error);
    color: var(--error-text);
    }
    .error:hover {
        background: var(--error-dim);
        }
        .error:active {
            background: var(--error-dim);
            box-shadow: 0px 0px 0px 4px var(--error-active);
            }
.warning {
    background: var(--warning);
    color: var(--warning-text);
    }
    .warning:hover {
        background: var(--warning-dim);
        }
        .warning:active {
            background: var(--warning-dim);
            box-shadow: 0px 0px 0px 4px var(--warning-active);
            }
.success {
    background: var(--success);
    color: var(--success-text);
    }
    .success:hover {
        background: var(--success-dim);
        }
        .success:active {
            background: var(--success-dim);
            box-shadow: 0px 0px 0px 4px var(--success-active);
            }
.alfrd-row {
    display: flex;
    justify-content: center;
}
.alfrd-1>* {
    width: 100%;
  }
.alfrd-2>* {
    width: 50%;
  }
.alfrd-3>* {
    width: 33.3%;
}
.alfrd-4>* {
    width: 25%;
  }
.alfrd-5>* {
    width: 20%;
}
.alfrd-6>* {
    width: 16.6%;
}
.alfrd-7>* {
    width: 14.2857142857%;
}
.alfrd-8>* {
    width: 12.5%;
}
.alfrd-9>* {
    width: 11.1%;
}
.alfrd-10>* {
    width: 10%;
}
